:root{
    --fondo-color:#181818;
    --items-color:#202020;
    --border-color:#383838;
    --text-color:#e7e7e7;
    --scroll-color:#909090;
    --background-hover: #303030;
    --dark: #34495E;
    --light: #ffffff;
    --success: #0ABF30;
    --error: #E24D4C;
    --warning: #E9BD0C;
    --info: #3498DB;
}
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.container-registro .Cont-Tiket{
  list-style-type: none;
}

.container-registro.contenedor-tikets {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Cont-Tiket .bxs-plus-circle{
 font-size: 40px;
}

.Cont-Tiket{
  list-style: none;
}

.container-registro .Cont-Tiket li{
  text-align: center;
}

.container-registro .Cont-Tiket h1{
  font-size: 35px;
  
}

.container-registro .Cont-Tiket i{
  vertical-align: middle;
  margin-right: 15px;
}

.container-registro .Cont-Tiket div{
  border: 1px solid var(--border-color);
  background-color: var(--items-color);
}

.container-registro .Cont-Tiket div:hover{
  background-color: var(--background-hover);
  cursor: pointer;
}

.Card-Loading-incripcion .Exitosa{
  border: 1px solid var(--border-color);
  height: 70px;
  align-items: center;
  text-align: center;
}
.Card-Loading-incripcion .bx.bx-check {
  font-size: 25px !important;
}

.Card-Loading-incripcion .Exitosa i.bx {
  vertical-align: middle;
  margin-right: 5px;
}

.Card-Loading-incripcion .Exitosa span {
  vertical-align: middle;
}

.Card-Loading-incripcion .Exitosa{
  border: 1px solid var(--border-color);
  height: 70px;
  align-items: center;
  text-align: center;
}
.Card-Loading-incripcion .bx.bx-check {
  font-size: 25px !important;
}

.Card-Loading-incripcion .Exitosa i.bx {
  vertical-align: middle;
  margin-right: 5px;
}

.Card-Loading-incripcion .Exitosa span {
  vertical-align: middle;
}



.Card-Loading-incripcion .Erronea{
  border: 1px solid var(--border-color);
  height: 70px;
  align-items: center;
  text-align: center;
}
.Card-Loading-incripcion .bx.bx-x {
  font-size: 25px !important;
}

.Card-Loading-incripcion .Erronea i.bx {
  vertical-align: middle;
  margin-right: 5px;
}

.Card-Loading-incripcion .Erronea span {
  vertical-align: middle;
}

.Card-Loading-incripcion .Erronea{
  border: 1px solid var(--border-color);
  height: 70px;
  align-items: center;
  text-align: center;
}
.Card-Loading-incripcion .bx.bx-check {
  font-size: 25px !important;
}

.Card-Loading-incripcion .Erronea i.bx {
  vertical-align: middle;
  margin-right: 5px;
}

.Card-Loading-incripcion .Erronea span {
  vertical-align: middle;
}

html{
    font-size: 62.5%;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: var(--fondo-color)!important;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.Cartel-Carga {
  position: fixed;
  top: 220px;
  right: 7px;
  padding: 10px;
  z-index: 9999;
}
.container-conf-perf h2{
  font-size: 15px;
}
.Cartel-Carga .lista-Cargas::-webkit-scrollbar{
  width: 2px;
}
.Cartel-Carga .lista-Cargas::-webkit-scrollbar-thumb{
background-color: var(--scroll-color);
border-radius: 5px;
}


.Cartel-Carga .lista-Cargas{
  width: 300px;
  list-style-type: none;
  max-height: 490px;
  overflow-y: auto;
}

.Carteles-loading{
  margin-top: 2px;
  background-color: var(--fondo-color);
  border: 1px solid var(--border-color);
}

.Cartel-Carga .lista-Cargas .progress-bar{
  height: 10px!important;
}

.lista-Cargas h4{
  color: var(--text-color);
  text-align: center;
}

.Div-Cant{
  text-align: center;
  font-size: 30px;
  color: var(--text-color);
}

.container-menu-icon {
  display: inline-block;
  width: 100%;
  line-height: 1; 
}

.container-menu-icon i {
  vertical-align: middle;
  font-size: 1.5em;
  margin-right: 5px;
}

#Btn-EliminarAlumnoMateria{
  background-color: var(--error);
}

#li-loading{
  margin-top: 20px;
}

.progress-materia{
  font-size: 25px !important;
  height: 25px !important;
}

.progress-materia .progress-materiadiv{
  height: 20px !important;
}

.progress-bar{
  height: 50px !important;
}
.progress{
  font-size: 25px !important;
  height: 50px !important;
}
.Card-Loading-incripcion {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  width: 600px !important;
  background-color: var(--items-color);
  z-index: 9;
  border: solid 1px var(--border-color);
  text-align: center;
}

.Card-Loading-incripcion ul {
  display: inline-block; 
  list-style: none;
  padding: 0;
  text-align: left; 
  border-top: solid 1px var(--border-color);
  border-bottom: solid 1px var(--border-color);
}

.Card-Loading-incripcion li {
  display: block;
  line-height: 1;
  font-size: 17px;
}

.Card-Loading-incripcion li i{
  margin-right: 10px;
  vertical-align: middle;
  font-size: 40px!important; 
  margin-right: 5px;
}

.Btn-centrar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.Btn-centrar .btn{
  width: 150px;
}

.Exitosa{
  color: #0ABF30;
}

.Erronea{
  color: var(--error);
}

.Card-Loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  background-color: var(--items-color);
  z-index: 9;
  border-radius: 20%;
  border: solid 1px var(--border-color);
  transform: translate(-50%, -50%);
}

.Card-Loading .spinner-border {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -70px; 
  margin-left: -50px; 
}

.Card-Loading-span{
    position: absolute;
    top: 50%;
    left: 40%;
    margin-top: 40px; 
    margin-left: -40px;
    color: var(--text-color);
    font-size: 30px;
}

.swal2-popup {
  width: 80%; 
  max-width: 600px; 
  height: auto; 
  padding: 20px; 
  border-radius: 10px; 
}

.btn-info{
  position: relative;
  width: 40%!important;
  height: 50px!important;
  color: var(--fondo-color)!important;
  font-size: 30px!important;
}


.swal2-popup {
  font-size: 20px; 
}

.swal2-title {
  font-size: 30px;
}

.swal2-content {
  font-size: 20px; 
}

.visible {
  display: block;
}

.invisible{
  display: none;
}

.notifications {
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 10;
}
.notifications :where(.Cartel, .column) {
  display: flex;
  align-items: center;
}
.notifications .Cartel {
  width: 500px;
  position: relative;
  overflow: hidden;
  list-style: none;
  border-radius: 4px;
  border: 2px solid var(--border-color);
  padding: 16px 17px;
  margin-bottom: 10px;
  background: var(--items-color);
  justify-content: space-between;
  animation: show_Cartel 0.3s ease forwards;
}
@keyframes show_Cartel {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}
.notifications .Cartel.hide {
  animation: hide_Cartel 0.3s ease forwards;
}
@keyframes hide_Cartel {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(calc(100% + 20px));
  }
}
.Cartel::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  animation: progress 5s linear forwards;
}
@keyframes progress {
  100% {
    width: 0%;
  }
}
.Cartel.success::before, .btn#success {
  background: var(--success);
}
.Cartel.error::before, .btn#error {
  background: var(--error);
}
.Cartel.warning::before, .btn#warning {
  background: var(--warning);
}
.Cartel.info::before, .btn#info {
  background: var(--info);
}
.Cartel .column i {
  font-size: 25px;
}
.Cartel.success .column  {
  color: var(--success);
}
.Cartel.error .column  {
  color: var(--error);
}
.Cartel.warning .column  {
  color: var(--warning);
}
.Cartel.info .column  {
  color: var(--info);
}
.Cartel .column span {
  font-size: 18px;
  margin-left: 12px;
}
.Cartel i:last-child {
  color: var(--text-color);
  font-size: 15px;
  cursor: pointer;
}
.Cartel i:last-child:hover {
  color: var(--dark);
}

nav{
    display: flex;
    align-items:center;
    width: 100%;
    top: 0;
    padding: 10px 20px;
    background-color: var(--items-color);
    position: fixed;
    border-bottom: 1px solid var(--border-color);
    z-index: 9;
}
nav img{
    width: 45px;
    height: 45px;
    margin-left: 10px;
    background-color: var(--fondo-color);
    border: 0.5px solid  #ff0000;
    border-radius: 100%;
}

nav .Beppo{
    font-size: 30px;
    background-image: linear-gradient(to right, #ff0000  , #2685FF );
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5px;
}

nav span i{
    color: #ff0000;
    font-size: 45px;
    cursor: pointer;
}

nav span i:hover{
    color: #880202
}

aside{
    background-color: var(--items-color);
    width: 275px;
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    overflow-y: hidden;
    margin-top: 67px;
    transition: 0.5s;
}
aside:hover{
    overflow-y: auto;
}
.desplegar{
    transform: translateX(-100%);
}
aside::-webkit-scrollbar{
    width: 2px;
}
aside::-webkit-scrollbar-thumb{
  background-color: var(--scroll-color);
  border-radius: 5px;
}

body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-thumb{
    background-color:var(--scroll-color);
    border-radius: 5px;
}

.registro-cuenta, .registro-carrera , .registro-personal{
  margin-top: 5px;
  border-top: 5px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.container-page::-webkit-scrollbar{
    width: 8px;
}
.container-page::-webkit-scrollbar-thumb{
    background-color:var(--scroll-color);
    border-radius: 5px;
}

.invisibilidad{
  visibility: hidden;
}

.list-group-item {
  position: relative;
  top:10px;
  left: 50px;
  font-size: 20px;
  width: calc(100% - 100px);
  text-align: left ;
  background-color: var(--items-color) !important;
  color: var(--text-color)!important;
}
.ElementoStilo2{
  font-size: 20px;
  border-bottom: 1px solid var(--border-color)!important;
  font-weight: 800 !important;
}

.Seleccion-Atributos-Nombre{
  position: relative;
  align-items: center;
  width: 450px; 
  height: 350px;
  background-color: var(--fondo-color);
  border: 1px solid var(--border-color);
  top: 250px;
  left: 30px;
  margin: auto;
  font-size: 18px;
  color: var(--text-color);
}

.contenedor-Nombre-Exel {
  width: 50%;
  margin: 10px auto 0;
}

.container-atributos-stile{
  position: relative;
  top: 20px;
}

.contenedor-botones-stile{
  width: 50%;
  margin: 40px auto 0;
}

.Seleccion-Atributos-Nombre h4{
  font-size: 30px;
}

.text-input-exel{
  font-size: 20px !important;
}

.Atributos-Stile{
  width: 70%;
  margin: 0 auto;
}

.ElementoStilo2 span{
  font-weight: 800 !important;
}

 .ElementoEstilo{
  position: relative;
  top:10px;
  left: 50px;
  font-size: 20px;
  font-weight: 800;
  width: calc(100% - 100px);
  text-align: left ;
  background-color: var(--items-color) !important;
  color: var(--text-color)!important;
  border-bottom: 1px solid var(--border-color)!important;
}
 .ElementoEstilo input{
  margin-left: 10px;
}

.Perfil-Estilo-Letra{
  font-weight: 800;
}

.recorte{
  position: absolute;
  bottom: 100px !important;
}
.recorte .btn-dark{
  color: var(--text-color)!important;
  background-color: var(--items-color)!important;
  border-color: var(--border-color)!important;
  width: 200px;
}

.recorte .btn-danger{
  width: 200px;
}

.menu-herramientas{
  position: absolute;
  left: 280px;
  bottom: 0;
  transition: left 0.5s, width 0.5s;
  width: calc(100% - 290px);
  height: 98px;
  background-color:var(--fondo-color);
  border-top: 2px solid var(--border-color);
}

.menu-herramientas .lista{
  list-style: none;
  margin-top: 20px;
  padding: auto;
  text-align: center;
}

.menu-herramientas .lista li{
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-right: 20px;
}

.menu-herramientas .lista li:hover{
  background-color: var(--items-color);
  cursor: pointer;
  border-radius: 2px;
}

.menu-herramientas i{
  font-size: 45px;
  color: var(--text-color);
}

.menu-herramientas img{
  margin-top: -30px;
  display: block;
  margin: 0 auto;
}

.cont-agregar{
  position: relative;
  top: 25px;
  left: 15px;
}

.cont-agregar .btn-dark{
  width: 150px;
  height: 40px !important;
}

.menu-herramientas span {
  display: block;
  color: var(--text-color);
  background-color: var(--items-color);
}

.menu-herramientas .form-select{
  font-size: 20px;
  background-color: var(--items-color);
  color: var(--text-color);
  border: 0.5px solid var(--border-color);
  cursor: pointer;
}

.menu-herramientas .select{
  width: 200px;
}


.menu-herramientas .form-select:focus{
  outline: none;
  border-color: var(--background-hover)!important;
  box-shadow: 0 0 2px 2px var(--text-color) !important;
}

.menu-herramientas .form-select:hover{
  background-color: var(--background-hover)!important;
}

.container-svg{
    border-top: 1px solid var(--border-color);
    font-size: 14px;
    padding: 10px 1px; 
    color: var(--text-color); 
}
.container-conf-perf{
    border-top: 1px solid var(--border-color);
    font-size: 30px;
    padding: 10px 5px;
    margin-left: 5px;
    color: var(--text-color);
}
.ultimo-menu{
  border-bottom: 1px solid var(--border-color);
}
.container-conf-perf h1{
 text-align: center;
}

.container-conf-perf h2{
 cursor: default;
}

.container-conf-perf div:hover{
    background-color: var(--background-hover);
}
.container-conf-perf div span{
    margin-left: 15px;
    font-size: 1.5rem;
    font-weight: 500;
}
.container-info-perfil .materia-form{
    margin-left: 4.5% !important;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 90%!important;
    display: flex;
    justify-content: space-between;
    background-color: var(--items-color);
    border: 0.5px solid var(--border-color)!important;
}
.container-info-perfil .cont-exam{
  margin-left: 4.5% !important;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 90%!important;
  display: flex;
  justify-content: space-between;
  background-color: var(--items-color);
  border: 0.5px solid var(--border-color)!important;
}

.Regularidad-w800 {
  width: 100px;
  margin-left: auto; 
  margin-right: 30px;
  background-color:var(--info);
  border-radius: 4px;
}

.container-info-perfil h1{
    text-align: center;
    font-size: 10px;
}
/*-*-------------------------------------------------------------------------------------------*/

.cont-exam {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  

.container-info-perfil i{
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
}
.container-info-perfil .h4{
    font-size: 30px;
    position: relative;
    left: 5%;
}



.container-accordion{
    border-top: 1px solid var(--border-color);
    padding: 1px 0px;
    color: var(--text-color);
}
.container-login{
    border-top: 1px solid var(--border-color);
    padding: 1px 11px;
    color: var(--text-color);
}
.container-opcion{
     padding: 10px 1px;
     color: var(--text-color); 
 }
.log{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.log i{
    margin-right: 10px;
}

.examen-posit{
  position: relative;
  top: -50px !important;
}

.examen-stilo{
  font-size: 15px;
  margin-top: -50px !important;
  color: var(--text-color)!important;
}

.examen-stilo i{
  cursor: pointer;
}

.border-accordion {
    position: relative !important;
    left: 3px;
    width: 97% !important;
    border-radius: 5px;
    border: 2px solid transparent;
    border-image: linear-gradient(to right,  #ff0000  , #2685FF) 1;
    animation: gradientAnimation 5s linear infinite;
    height: 65px;
}

@keyframes gradientAnimation {
    0% { border-image: linear-gradient(to right,  #ff0000  , #2685FF) 1; }
    50% { border-image: linear-gradient(to right, #2685FF, #ff0000) 1; }
    100% { border-image: linear-gradient(to right,  #ff0000  , #2685FF) 1; }
}

.acordion-perfil-arrow{
    font-size: 50px!important;
}

.examen-stilo div:hover{
    background-color:var(--background-hover) !important;
}

.container-contrasenia .examen-stilo{
  position: relative;
  width: 100%;   
  cursor: pointer;
  color: var(--text-color)!important;
}

.container-opcion a{
  text-decoration: none;
  width: 95%;
  font-size: 15px;
  margin-top: 0px;
  color: var(--text-color);
}

.container-opcion a:hover{
  color: var(--text-color);
}

.container-opcion div{
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
}

.materia-form{
  margin-top: -9px !important;
}


.container-opcion div:hover{
    background-color: var(--items-color);
}

.container-opcion div span{
    margin-left: 15px;
    font-size: 1.5rem;
    font-weight: 500;
}
.container-login div{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 10px;
}
.container-svg div:hover{
    background-color: var(--background-hover);
}
.container-svg div span{
    margin-left: 15px;
    font-size: 1.5rem;
    font-weight: 500;
}
h2{
    padding: 10px 20px;
    color: #aaaaaa;
}
.btn{
    width: 70px;
    height: 33px;
    margin: 5px;
    font-size: 15px !important;
}

.link-light{
    font-size: 15px !important;
}

.form-control{
    height: 33px;
    font-size: 20px !important;
}

.container-opcion div{
    color: var(--text-color);
}

.accordion {
    margin-top: 50px;
    margin-left: 50px;
    padding: 1px 1px;
    color: var(--text-color);
  }

  .accordion-menu{
    padding: 1px 1px;
    color: var(--text-color);
  }

  .examen-stilo a{
    text-decoration: none;
    color: var(--text-color);
  }

  .examen-stilo a:hover{
    color: var(--text-color);
  }
  
  .accordion-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
  }
  
  .accordion-header:hover {
    background-color: var(--background-hover);
    cursor: pointer;
  }
  

  .accordion-header span {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
  .accordion-header i {
    margin-left: 0px;
    font-size: 25px;
    font-weight: 500;
  }
  
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    padding: 10px 20px;
    color: #aaaaaa;
  }

  .accordion-menu:hover{
    border-top: solid 3px var(--border-color);
    border-bottom: solid 3px var(--border-color);
  }
  
  .accordion.active .accordion-content {
    max-height: 100%; 
    transition: max-height 0.3s ease-in;
  }

  .config-alumno .container-config{
    position: relative;
    left: 50px;
    width: calc(100% - 60px);
    height: 100px;
    font-size: 16px;
    background-color: black;
    border-bottom: 2px solid var(--border-color);
    border-left: 8px solid var(--border-color);
  }

  .config-alumno .container-config:hover{
   background-color:var(--fondo-color);
  }

  .container-config span{
    font-size: 20px;
    text-decoration: underline;
  }

  .config-alumno h2{
    width: calc(100% - 50px);
    position: relative;
    left: 50px;
  }

  .container-config label,a{
    margin-top: 25px;
  }

  .container-config label{
    position: relative;
    text-align: left;
    left: 0;
    font-size: 25px;
  }

  .alert-primary{
   position: relative;
   top : 10px;
   left: 55px;
   width: 90%;
   font-size: 20px;
   height: 50px;
  }

  .container-config a{
   position: relative;
   right: 5%;
   cursor: pointer;
  }

  .accordion-menu.active .accordion-content {
    max-height: 100%; 
    transition: max-height 0.3s ease-in;
  }

  .arrow-container {
    display: inline-block;
    transition: transform 0.3s ease;
  }

  .arrow-menu-size{
    margin-right: 20px !important;
    font-size: 35px!important;
  }
  
  .arrow-container.rotated .arrow {
    transform: rotate(90deg);
  }

.mySlides{
    display: none;
    width: 100%;

}

.container-page h1 {
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
}
  
.container-page label {
    font-family: 'Lato', sans-serif;
  }

.container-page {
    position: absolute;
    top: 77px;
    left: 260px;
    bottom: 0;
    transition: left 0.5s, width 0.5s;
    width: calc(100% - 260px);
    color: var(--text-color);
    font-size: 30px ;
    text-align: center;
    overflow: auto;
}

 aside:hover{
    overflow-y: auto;
}

.container-config-administrador .btn-danger{
  margin-top: 70px;
  width: 100px;
  height: 35px;
}

.container-config-administrador .form-switch .form-check-input{
  background-color: var(--text-color);
  width: 50px !important;
  height: 30px !important;
  margin-left: 20px !important;
}

  .container-sedes h1{
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .container-sedes h4{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
  }

  .container-page.open {
    left: 0;
    width: 100%;
  }

  .container-conf-perf a{
    text-decoration: none;
    color: inherit;
    font-size: 15px;
  }


  .container-config-administrador .miInput{
    width: 220px;
    height: 45px;
    color: var(--text-color);
    text-align: center;
    background-color: var(--fondo-color);
    border: 3px solid var(--border-color);
    border-right: transparent;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  .container-config-administrador .miInput:focus{
    color: var(--text-color);
    background-color: var(--background-hover);
    outline: none;
  }
  .container-config-administrador .contaner-input{
    margin-top: 25px !important;
  }
  
  .container-conf-perf a:hover{
    text-decoration: none;
    color: inherit;
  }
  
  .Perfil-Syle a{
    text-decoration: none;
    color: transparent;
  }
  
  .Perfil-Syle a:hover{
    text-decoration: none;
    color:inherit;
  }

  .container-perfil {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 450px;
    right: calc(-100% + 650px);
    color: var(--text-color);
    font-size: 25px;
    color: #2685FF;
}

.container-perfil i{
    margin-left: 3px;
    font-size: 55px;
}

.container-info-perfil h1{
    width: 100%;
    text-align: center;
}

.rotate-icon {
    position: relative!important;
    right: -30% !important;
    display: block !important;   
}

@keyframes setting {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate-animation {
    animation-name: setting;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}



/*--------------------------------------*/
.container-login div{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.form-control{
    height: 33px;
    font-size: 20px !important;
}

.container-login{
    border-top: 1px solid var(--border-color);
    padding: 10px 1px;
    color: var(--text-color);
}

.log{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.log i{
    margin-right: 10px;
}

.container-login div{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.container-login .btn{
    width: 70px;
    height: 33px;
    margin: 5px;
    font-size: 15px !important;
}

.container-login .link-light{
    font-size: 15px !important;
}



.container-config input{
  width: 220px;
  height: 45px;
  color: var(--text-color);
  text-align: center;
  background-color: var(--fondo-color);
  border: 3px solid var(--border-color);
  border-right: transparent;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.container-config input:focus{
  color: var(--text-color);
  background-color: var(--background-hover);
  outline: none;
}

.container-config-administrador{
    position: relative;
    left: 50px;
    width: calc(100% - 60px);
    height: 150px;
    font-size: 16px;
    background-color: black;
    border-bottom: 2px solid var(--border-color);
    border-left: 8px solid var(--border-color);
}

.container-config-administrador .form-check-input{
  background-color: var(--text-color);
  width: 25px !important;
  height: 25px !important;
  margin-left: 20px !important;
}
.container-config-administrador .form-control{
  background-color: var(--items-color);
  border-color: var(--border-color);
  height: 35px !important;
  color: var(--text-color);
}

.container-config-administrador .form-control:focus{
  background-color: var(--items-color);
  border-color: var(--border-color);
  color: var(--text-color);
}
.container-config-administrador .input-group-text{
  background-color: var(--items-color);
  border-color: var(--border-color);
}
.container-config-administrador .input-group{
  padding-left: 20px;
  margin-top: 0px;
}

.input-control{
margin-top: 10px;
width: 50px !important;
}

.input-control .form-check-input{
  width: 20px !important;
  height: 20px !important;

}

.input-control .input-group-text{
  background-color: var(--items-color);
  border-color: var(--border-color);
}

.text-control{
  font-size: 15px !important;
}


.input-control .form-control{
  background-color: var(--items-color);
  border-color: var(--border-color);
  color: var(--text-color);
}


.container-config-administrador:hover{
  background-color:var(--fondo-color);
 }

 .container-config-administrador span{
  font-size: 20px;
  text-decoration: underline;
}

/**/
.container-config-administrador label,a{
  margin-top: 25px;
}

.container-config-administrador label{
  position: relative;
  text-align: left;
  left: 0;
  font-size: 25px;
}

.container-config-administrador a{
 position: relative;
 right: 5%;
 cursor: pointer;
}

.contaner-input .link-light{
  margin-left: -4px;
  height: 45px;
  background-color: var(--items-color)!important;
  width: 100px;
  border: 3px solid var(--border-color);
  border-left: transparent;
  border-top-right-radius: 15px!important;
  border-bottom-right-radius: 15px!important;
}

.contaner-input .link-light:active{
  background-color: black!important;
}


.contaner-input input::placeholder{
 text-align: center;
 color: var(--text-color);
}

.contaner-input .label-check{
position: relative;
top: -20px !important;
left: 10px !important;
}

.contaner-input .label-check:checked{
  border-color: var(--border-color);
}

.container-contrasenia{
  position:relative;
  top: 15px;
  left: 70px;
  width: calc(100% - 70px);
  text-align: left;
  background-color: var(--items-color);
  border-left: 15px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}

.container-contrasenia .contaner-inputs{
 position: relative;
 top: 1px;
 left: 100px;
 width: calc(100% - 200px);
}

.container-contrasenia .contaner-inputs .miInput{
  width: 220px;
  height: 40px;
  font-size: 25px;
  text-align: center;
  background-color: var(--background-hover);
  border: 3px solid var(--border-color);

}

.container-contrasenia .contaner-inputs .miInput:focus{
  color: var(--text-color);
  background-color: var(--background-hover);
  outline: none;
}

.contaner-inputs .link-light{
 position: relative;
 top: -3px;
 width: 220px;
 height:40px;
 color: var(--text-color);
 background-color: var(--fondo-color);
 border: 3px solid var(--border-color);
}

.contaner-inputs .link-light:active{
  background-color: black!important;
}



.contaner-inputs span{
  font-size: 20px;
  text-align: justify;
}

/**/

.container-contrasenia .contaner-inputs-Eliminar{
  position: relative;
  top: 1px;
  left: 30px;
  width: calc(100% - 200px);
 }
 
 
 .link-light1{
  position: relative;
  top: -3px;
  left: 30px;
  width: 220px !important;
  height:40px;
  color: var(--text-color);
  background-color: var(--fondo-color);
  border: 3px solid var(--border-color);
  font-size: 15px;
 }
 
 .link-light1:active{
   background-color: black!important;
 }
 
 
 
 .contaner-inputs-Eliminar span{
   font-size: 20px;
   text-align: justify;
 }


 .contaner-inputs-Eliminar .container-select .form-select{
  position: relative;
  left: -155px;
  top :-5px;
  width: 240px;
  font-size: 25px!important;
  background-color: var(--items-color);
  color: var(--text-color);
  border: 0.5px solid var(--border-color);
  cursor: pointer;
}

.container-contrasenia .cont-materia{
  position: relative;
  top: -5px !important;
  left: 0 !important;
}

.Eliminar-Materia .cont-materia{
    position: relative;
  top: -3px !important;
  left: -150px !important;
}

.contaner-inputs-Eliminar .container-select .form-select:focus{
  outline: none;
  border-color: var(--background-hover)!important;
  box-shadow: 0 0 2px 2px var(--text-color) !important;
}
 
.contaner-inputs-Eliminar .container-select .form-select:hover{
  background-color: var(--background-hover)!important;
}

.contaner-inputs-Eliminar .container-select{
  position: relative !important;
  left: 100px;
  margin-top: 10px!important;
  margin-left: 50px !important;
  width: calc(100% - 300px)!important;
}

.contaner-inputs-Eliminar .container-select .option:hover{
  background-color: var(--background-hover)!important;
}
 


.settingoff{
  display: none;
}

.settingon{
  display: block;
}


.contaner-input{
 position: absolute;
 top: 35px;
 left: 50px;
}

.container-text{
    margin: 1px;
}
.container-text label{
  margin-left: 15px;
  font-size: 20px;
  text-align: center;
}

.container-registro .container-materia{
  width: 100%;
  margin-top: 2px;
  border: 2px solid var(--border-color) ;
}

.container-materia .materia{
  width: 100% !important;
}

.container-materia .form-check-input:checked{
  background-color: var(--fondo-color);
  border-color: var(--text-color);
}

 .Cont-Reg .container-registro{
  position: relative;
  left: 30%;
  width: 500px!important;
  text-align: center;
}

.container-registro .form-select{
  margin-top: 5px;
  font-size: 20px;
}

.container-registro label{
  font-size: 20px;
}

.botones-registro .btn{
  width: 100px!important;
}

.botones-registro{
  position: relative;
  left: 0%;
}

.container-input{
  position: relative;
  left: 25px;
  width: calc(100% - 25px);
  background-color: var(--items-color);
  display: block;
}


.container-text h1{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.container-sedes {
  width: calc(100% - 50px);
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px!important;
  margin-left: 50px!important;
}

.input-group{
  width: 250px !important;
  height: 20px !important;
}

.container-sedes label{
    font-size: 20px;
    text-align: center;
}

.container-sedes h1{
    font-size: 32px;
    text-align: center;
}

.container-sedes h4{
    font-size: 15px;
    text-align: center;
}

.contaner-input .form-check-input:checked{
  background-color: var(--fondo-color);
  border-color: var(--text-color);
}


.container-sedes .col-4:hover{
    background-color: var(--items-color)!important;
    border: 0.5px solid var(--border-color)!important;
}

.container-redes{
    position: relative;
    width: calc(100% - 20px);
    margin-left: 15px;
    background-color: var(--items-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Perfil-Syle{
  background-image: linear-gradient(to right, #ff0000  , #2685FF );
  background-clip: text;
  -webkit-background-clip: text; 
  color: transparent;
  border-top: 1px solid var(--border-color);
  font-size: 30px;
  padding: 10px 5px;
  margin-left: 5px;
}

.Name-perfil-menu:hover{
color: var(--text-color);
}

.bx-edit{
  font-size: 30px;
  cursor: pointer;
}

.Perfil-Syle h2{
  padding-left: 50px;
  background-image: linear-gradient(to right, #ff0000  , #2685FF );
  background-clip: text;
  -webkit-background-clip: text; 
  color: transparent;
  cursor:default;
}

.Titulo-Style{
  background-image: linear-gradient(to right, #ff0000  , #2685FF );
  background-clip: text;
  -webkit-background-clip: text; 
  color: transparent;
  font-size: 30px;
  padding: 10px 5px;
  margin-left: 5px;
}

.Perfil-Syle div span{
  margin-left: 15px;
  font-size: 1.5rem;
  font-weight: 500;
}


.table-container-perfil{
  position: relative;
  left: 20px;
  width: calc(100% - 20px);
}

.table-container-perfil tr,td {
  font-size: 15px !important;
}

.btn-redes{
    display: flex;
    align-items: center;
    border: 0.5px solid var(--border-color);
    border-radius: 15px;
}

.btn-redes:hover{
    background-color: var(--text-color);
    color: var(--fondo-color);
    cursor: pointer;
}

.icon-redes samp{
    font-size: 20px;
    margin: 0 3px;
}

.icon-redes i{
    font-size: 50px;
    margin: 0 3px;
}

.container-carrera {
    margin-left: 15px;
    width: calc(100% - 25px);
}
.titulo-carrera{
    text-align: center;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}

.container-carreras h1{
    font-size: 30px;
    text-align: center;
    background-color: var(--items-color);
    color: var(--text-color);
}

.container-carreras h3{
    font-size: 23px;
    text-align: left;
}

.container-carreras h4{
    font-size: 20px;
    text-align: left;
}

.container-carrera ul{
    font-size: 15px;
    text-align: left;
    border-bottom: 0.5px solid var(--border-color);
}

.container-carrera .list-materias{
    font-size: 20px;
    text-align: center;
    list-style: none;
}

.container-carrera .titulo-materias{
    text-align: center;
    font-size: 30px;
}

.container-info-perfil .table-container {
    margin-left: 15px;
    width: calc(100% - 15px);
    font-size: 18px;
  }

  .container-info-perfil  table {
    width: 100%!important;
    border-collapse: collapse!important;
  }
  
  .container-info-perfil  th,td {
    padding: 8px!important;
    text-align: left!important;
    border-bottom: 1px solid var(--border-color)!important;
  }

  .container-info-perfil  th {
    background-color: var(--items-color);
  }

/*//*****/

.panel .table-container {
    margin-left: 6px;
    width: calc(100% - 6px);
    font-size: 18px;
  }

  .panel  table {
    width: 100%!important;
    border-collapse: collapse!important;
  }
  
  .panel  th,td {
    padding: 8px!important;
    text-align: left!important;
    background-color: var(--fondo-color)!important;
    border-bottom: 1px solid var(--border-color)!important;
  }

  .panel th{
    background-color: var(--items-color)!important;
  }
  
  .table-container h1{
    font-size: 25px;
    background-color: var(--items-color);
    border-top: 1px solid var(--border-color);
  }

  .container-carreras h6{
       font-size: 50px;
       background-color: var(--items-color);
  }

.search-container {
    position: relative;
    left: -10px;
    display: inline-block;
    margin-top: 10px;
  }
  
  .search-input {
    padding: 10px;
    color: var(--text-color);
    border: 0.5px solid var(--border-color);
    border-radius: 5px;
    width: 500px;
    background-color: var(--items-color);
  }

  .search-input:hover{
    border-color: var(--background-hover);
  }

  .search-input:focus {
    outline: 0.5px solid var(--text-color);
    color: var(--text-color)!important;
  }
  
  .search-button {
    position: absolute;
    top: 6px;
    right: 6px;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .search-button i{
    color: var(--border-color);
    font-size: 40px;
  }

  .search-button i:hover{
    color: var(--text-color);
  }

  .acordion {
    margin-top: 10px;
    background-color: var(--items-color);
    color: var(--text-color);
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .acordion span{
    margin-left: 25px;
  }

  .acordion i{
    margin-right: 25px;
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color:var(--fondo-color);
    overflow: hidden;
  }

  .Lista-alumnos{
    list-style-type: none;
    width: calc(100% - 100px);
    margin-left: 50px;
    margin-right: 50px;
  }


  .container-select .form-select{
    width: 100% !important;
    font-size: 25px!important;
    background-color: var(--items-color);
    color: var(--text-color);
    border: 0.5px solid var(--border-color);
    cursor: pointer;
  }

  .container-select .form-select:focus{
    outline: none;
    border-color: var(--background-hover)!important;
    box-shadow: 0 0 2px 2px var(--text-color) !important;
  }

  .container-select .form-select:hover{
    background-color: var(--background-hover)!important;
  }

  .container-select{
    position: relative !important;
    left: 100px;
    margin-top: 10px!important;
    margin-left: 45px !important;
    width: calc(100% - 300px)!important;
  }

  .container-select .option:hover{
    background-color: var(--background-hover)!important;
  }

  /**/
  .contaner-inputs .container-select .form-select{
    position: relative;
    top: -5px !important;
    left: -155px !important;
    font-size: 20px!important;
    background-color: var(--items-color);
    color: var(--text-color);
    border: 0.5px solid var(--border-color);
    cursor: pointer;
  }

  .contaner-inputs .container-select .form-select:focus{
    outline: none;
    border-color: var(--background-hover)!important;
    box-shadow: 0 0 2px 2px var(--text-color) !important;
  }

  .contaner-inputs .container-select .form-select:hover{
    background-color: var(--background-hover)!important;
  }

  .contaner-inputs .container-select{
    position: relative !important;
    left: 100px;
    margin-top: 10px!important;
    margin-left: 50px !important;
    width: calc(100% - 300px)!important;
  }

  .contaner-inputs .container-select .option:hover{
    background-color: var(--background-hover)!important;
  }

  .Verificado{
    color: #2685FF !important;
  }

  .NoVerificado{
    color: red !important;
  }

  @media screen and (min-width: 500px) and (max-width: 800px){ /* de 500 a 800 */
    .Label-Invisible{
      display: none;
    }

    .alert-primary{
      position: relative;
      top : 180px;
      left: 20px;
      width: 93%;
      font-size: 15px;
      height: 50px;
     }

    .container-menu-icon i {
      vertical-align: middle;
      font-size: 35px; 
      margin-right: 5px;
    }

  .desplegar{
      transform: translateX(100%);
  }

  .list-progres{
    position: relative;
    top: 165px;
  }
  .Lista-Materias{
    position: relative;
    top: 37px ;
  }
  .progress-bar{
    height: 25px !important;
  }
  .progress{
    font-size: 25px !important;
    height: 25px !important;
  }
  .aside{
    background-color: var(--items-color);
    width: 275px;
    position: absolute;
    top: 0;
    left: -275px;
    bottom:0;
    z-index: 8;
    overflow-y: hidden;
    margin-top: 67px;
    transition: 0.5s;
  }
  
 
    .Lista-alumnos{
      list-style-type: none;
      width: 100%;
      margin-left: -8px ;
    }


    .container-buscador{
      position: relative!important;
      left: 50px !important;
    }

    .container-page {
      position: relative;
      top: 77px;
      left: 0;
      width: 100%;
      color: var(--text-color);
      font-size: 30px;
      text-align: center;
      overflow-y: auto; 
      overflow-x: hidden;
    }
     
    .panel {
      margin-left: -24px;
      width: calc(100% + 24px);
      font-size: 18px;
    }

    .panel  th,td {
      padding: 4px!important;
      text-align: left!important;
      background-color: var(--fondo-color)!important;
      border-bottom: 1px solid var(--border-color)!important;
    }

    .panel .table-container {
      margin-left: 6px;
      width: 100%;
      font-size: 18px;
    }

    

    .search-input {
        padding: 5px;
        margin-left: -80px;
        color: var(--text-color);
        border: 0.5px solid var(--border-color);
        border-radius: 5px;
        width: 300px;
        background-color: var(--items-color);
      }


      .container-input{
        position: relative;
        left: 6%;
        width: calc(100% - 10px);
        background-color: var(--items-color);
        overflow: auto;
      }

      .container-registro{
        position: relative;
        left: 10%;
        width: calc(100% - 200px)!important;
        text-align: center;
      }

      .registro-carrera .form-select{
        width: 100%!important;
      }

      .registro-carrera option{
        font-size: 10px;
        overflow:  auto;
        height: 20px !important;
      }

      .container-config span{
        font-size: 20px;
        text-decoration: underline;
      }

      .config-alumno h2{
        position: relative;
        left: -76px;
      }
  }

  @media screen and (max-width: 950px) {
    .Regularidad-w800{
      display: none;
    }

    .Card-Loading-incripcion{
      width: 550px !important;
    }

    .Seleccion-Atributos-Nombre{
      position: relative;
      align-items: center;
      width: 350px; 
      height: 365px;
      background-color: var(--fondo-color);
      border: 1px solid var(--border-color);
      top: 250px;
      left: 0px;
      margin: auto;
      font-size: 18px;
      color: var(--text-color);
    }

    .cont-select-materia .form-select{
      width: 230px !important; 
    }

    .Label-Invisible{
      display: none;
    }

    .container-select {
      position: relative;
      left : calc(66% - 300px);
      width: 300px!important;
    }
  
    .container-select .col-4 {
      width: auto; 
      float: none; 
    }

    .container-opcion div span{
      margin-left: 15px;
      font-size: 1.0rem;
      font-weight: 500;
  }
  }

  @media screen and (max-width: 820px) {

    #tabla-carrara-control th{
     font-size: 18px;
    }

    .Cartel-Carga {
      position: fixed;
      top: 500px;
      right: 7px;
      font-size: 10px !important;
      padding: 10px;
      z-index: 9999;
    }

    .notifications {
      position: fixed;
      top: 30px;
      right: 1px;
      z-index: 10;
    }
    .notifications :where(.Cartel, .column) {
      display: flex;
      align-items: center;
    }
    .notifications .Cartel {
      width: 300px;
      position: relative;
      overflow: hidden;
      list-style: none;
      border-radius: 4px;
      border: 2px solid var(--border-color);
      padding: 16px 17px;
      margin-bottom: 10px;
      background: var(--items-color);
      justify-content: space-between;
      animation: show_Cartel 0.3s ease forwards;
    }

    
    .Cartel-Carga .lista-Cargas{
      width: 180px;
      list-style-type: none;
      max-height: 240px;
      overflow-y: auto;
    }

    .Div-Cant{
      text-align: center;
      font-size: 10px;
      color: var(--text-color);
    }
    
    .Carteles-loading{
      margin-top: 2px;
      background-color: var(--fondo-color);
      border: 1px solid var(--border-color);
    }

  .alert-primary{
      position: relative;
      top : 180px;
      left: 20px;
      width: 93%;
      font-size: 20px;
      height: 50px;
  }
  .accordion{
    position: relative;
    top: 130px;
    left: -30px;
    background-color: var(--fondo-color);
  }

  .container-registro{
    position: relative;
    left: 10%;
    width: calc(100% - 100px)!important;
    text-align: center;
  }

  .container-registro label{
    font-size: 20px;
  }

  .botones-registro .btn{
    width: 100px!important;
  }

  .botones-registro{
    position: relative;
    left: -10%;
  }

  .container-input{
    position: relative;
    left: 10px;
    width: 100%;
    background-color: var(--items-color);
    overflow: auto;
  }

  .botones-registro{
    padding-left: 20%;
  }

  .border-accordion{
    border: 2px solid transparent;
    height: 50px;
  }

  .desplegar{
      transform: translateX(100%);
  }
  .aside{
    background-color: var(--items-color);
    width: 275px;
    height: 100%;
    position: absolute;
    left: -275px;
    bottom:0;
    z-index: 8;
    overflow-y: hidden;
    margin-top: 67px;
    transition: 0.5s;
  }

    .Lista-alumnos{
      list-style-type: none;
      width: 100%;
      margin-left: -8px ;
    }


    .container-buscador{
      position: relative!important;
      left: 50px !important;
    }

    .container-page {
      position: absolute;
      top: 77px;
      left: 0;
      width: 100%;
      color: var(--text-color);
      font-size: 30px;
      text-align: center;
      overflow-y: auto; 
      overflow-x: hidden;
    }

    .table-container-perfil tr,td {
      font-size: 15px !important;
    }

    .table-container-perfil{
      position: relative;
      left: 3px;
      height: 10px;
      margin-left: 6px;
      margin-right: 6px;
    }


    .table-container h1{
      font-size: 15px !important;
    }

    .acordion span{
      font-size: 22px;
    }

    .container-info-perfil h1 {
      font-size: 20px;
    }

    .table-perfil th,td{
      padding: 4px!important;
      text-align: left!important;
      border-bottom: 1px solid var(--border-color)!important;
    }

    .table-perfil-Alumno th,td{
      padding: 4px!important;
      text-align: left!important;
      border-bottom: 1px solid var(--border-color)!important;
    }
     
    .panel {
      margin-left: -24px;
      width: calc(100% + 24px);
      font-size: 18px;
    }

    .panel  th,td {
      padding: 4px!important;
      text-align: left!important;
      background-color: var(--fondo-color)!important;
      border-bottom: 1px solid var(--border-color)!important;
    }

    .panel .table-container {
      margin-left: 6px;
      width: 100%;
      font-size: 18px;
    }

    .table-container .bx-edit{
      font-size: 20px;
      cursor: pointer;
    }

    .search-input {
        padding: 5px;
        margin-left: -80px;
        color: var(--text-color);
        border: 0.5px solid var(--border-color);
        border-radius: 5px;
        width: 300px;
        background-color: var(--items-color);
      }
      
      .container-registro h1{
        font-size: 25px;
      }

      .container-registro .form-select{
        width: 100% !important;
      }
     
      .config-alumno .container-config{
        position: relative;
        left: 20px;
        width: calc(100% - 60px);
        height: 100px;
        font-size: 16px;
        border-bottom: 2px solid var(--border-color);
        border-left: 8px solid var(--border-color);
      }
     

    
      .container-config span{
        font-size: 17px;
        text-decoration: underline;
      }
    
      .config-alumno h2{
        position: relative;
        left: 15px;
      }
    
      .container-config label,a{
        margin-top: 25px;
      }
    
      .container-config label{
        position: relative;
        left: 0;
        font-size: 15px;
      }
    
      .container-config a{
       position: relative;
       right: 0;
      }

      .contaner-input{
        position: absolute;
        top: 45px;
        left: 15px;
       }

       .contaner-input .link-light{
        position: absolute;
        margin-left: -4px;
        height: 35px;
      }

      .container-config input{
        width: 130px;
        height: 35px;
        font-size: 10px;
      }
     
      .container-contrasenia-celular{
        position: relative;
        left: 5px !important;
        width: calc(100% - 5px);
      }
      .container-contrasenia .contaner-inputs{
        position: relative;
        left: 20px;
       }

      .contaner-input .label-check{
        position: relative;
        top: -20px !important;
        left: 10px !important;
      }

      .container-config-administrador{
          height: 200px !important;
      }

      .container-config-administrador .asignar{
        width: 100px !important;
        position: relative;
        left: 0px;
        top: 70px;
      }

      .container-config-administrador .btn-danger{
        margin-top: 100px;
        width: 100px;
        height: 35px;
      }

      .Control-button{
        margin-top: 20px !important;
        height: 45px!important;
      }
      
    
      .container-row-delete .row {
        margin-left: 0; 
        margin-right: 0;
      }
      .container-row-delete{
        display: grid;
        place-items: center;
      }
      
      .menu-herramientas {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 70px;
        background-color:var(--fondo-color);
        border-top: 2px solid var(--border-color);
  
      }
  
      .recorte{
        position: absolute;
        bottom: 69px !important;
      }

      .menu-herramientas .lista{
        margin-top: 0px;
       }
       .menu-herramientas .form-select{
         font-size: 10px;
       }
       
       .menu-herramientas .select{
         width: 100px;
       }
 
       .cont-agregar .btn-dark{
         width: 100px;
         height: 25px !important;
         font-size: 10px !important;
       }
 
       .cont-agregar{
         position: relative;
         top: 15px;
         left: 15px;
         width: calc(100% - 15px)!important;
       }

       .list-group-item{
        font-size: 18px;
       }
          .list-group{
         position: relative;
         left: -45px;
         width: calc(100% + 90px);
       }

        .list-group-item{
         font-size: 18px;
       }

       .btn-info{
        position: relative;
        width: 60%!important;
        height: 30px!important;
        color: var(--fondo-color)!important;
      }
}
